#file-view {
    background-color : #5d5463;
    color : #ffd700;

/*
    margin: 0;
    border: 0 none;
    overflow: hidden;
    outline: none;
    resize: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    vertical-align: top;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;

*/
    
    font-family: monaco,Consolas,Lucida Console,monospace;
    font-size: 16px;
    font-style: normal;
    font-variant: normal;

    /*
    width: 100%;
   */
}

#file-view textarea {
    background-color : #f44256;  /* cerese */
    color : #000000;

    margin: 0;
    border: 0 none;
    overflow: hidden;
    outline: none;
    resize: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    vertical-align: top;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
}


/* background-color : #5d5463; */
/* background-color : #191970; */
/*
.file-view-class textarea {
    background-color : #191970;
    color : #ffffff;

    margin: 0;
    border: 0 none;
    overflow: hidden;
    outline: none;
    resize: none;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    vertical-align: top;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;

    font-family: monaco,Consolas,Lucida Console,monospace;
    font-size: 16px;
    font-style: normal;
    font-variant: normal;

}
*/


/*
body {
    margin: 0;
    padding: 0;
}
*/

